@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1971px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #59516e;
}
svg {
  height: 80px;
  padding-left: 10px;
}
.boxes {
  display: flex;
  justify-content: space-between;
}
.svg {
  width: 90px;
  height: 30px;
}
input {
  margin: 25px;
}
.input {
  width: 500px;
  height: 50px;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.twc-logo {
  padding: 10px;
}
.cloud {
  width: 250px;
}
